.authentication-container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 30px auto;
}

@media screen and (max-width: 600px) {
    .authentication-container{
        flex-direction: column;
        justify-content: center;
    }
}